.login-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.signin-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #9e33e6, #505ed7);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.signin-button:hover {
    background-color: #1b1b1b;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(160, 74, 226, 0.3);
}

.createaccount-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #9e33e6, #505ed7);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.createaccount-button:hover {
    background-color: #1b1b1b;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(160, 74, 226, 0.3);
}

.resetpassword-link {
    margin-left: 130px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.createaccount-spacingdiv1 {
    margin-top: 10px;
}
.createaccount-spacingdiv2 {
    margin-bottom: 25px;
}

.createaccount-spacingdiv3 {
    margin-bottom: 25px;
}
.resetpassword-link:hover {
    color: white;
    text-decoration: underline;
}