.auth-container {
    max-width: 500px;
    margin: 170px auto 130px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
}

.auth-header {
    margin-bottom: 20px;
}

.auth-title {
    font-size: 2.2rem;
    margin: 0;
    margin-bottom: 10px;
}

.auth-icon {
    font-size: 4rem;
    color: #55ff55;
    margin-bottom: 20px;
}

.auth-message {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 30px;
}

.auth-button {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(45deg, #9e33e6, #505ed7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}

.auth-button:hover {
    background-color: #1b1b1b;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(160, 74, 226, 0.3);
}