{% extends 'MAIN/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/store_item.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block background %}
    {% include 'MAIN/base_background_starry.html' %}
{% endblock %}

{% block content %}
<div class="product-container">
    <!-- Back link -->
    <div class="product-navigation">
        <a href="{% url 'STORE:store' %}" class="back-link">
            <i class="fas fa-arrow-left"></i> Back to Store
        </a>
    </div>
    
    <!-- Split layout for product -->
    <div class="product-split">
        <!-- Left side: Gallery -->
        <div class="product-gallery-side">
            <div class="product-featured-image">
                <div id="featured-container">
                    <video id="featuredVideo" class="featured-image" controls style="display: none;">
                        <!-- Source will be set by JavaScript -->
                    </video>
                    <img src="{% static 'images/stream_setup_1.jpg' %}" 
                         alt="Basic Package" class="featured-image" id="featuredImage">
                </div>
            </div>
            
            <div class="gallery-thumbnails">
                <!-- Thumbnails -->
                <div class="thumbnail video-thumb active" data-type="video" data-src="{% static 'videos/Bomby_Stream_Setup.mp4' %}">
                    <img src="{% static 'images/stream_setup_1.jpg' %}" alt="Video Thumbnail">
                    <div class="play-icon">
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div class="thumbnail" data-image="{% static 'images/my_stream_setup_2.jpg' %}">
                    <img src="{% static 'images/my_stream_setup_2.jpg' %}" alt="Gallery Image 2">
                </div>
                <div class="thumbnail" data-image="{% static 'images/my_stream_setup_3.jpg' %}">
                    <img src="{% static 'images/my_stream_setup_3.jpg' %}" alt="Gallery Image 3">
                </div>
                <div class="thumbnail" data-image="{% static 'images/my_stream_setup_4.jpg' %}">
                    <img src="{% static 'images/my_stream_setup_4.jpg' %}" alt="Gallery Image 4">
                </div>
                <div class="thumbnail" data-image="{% static 'images/my_stream_setup_5.jpg' %}">
                    <img src="{% static 'images/my_stream_setup_5.jpg' %}" alt="Gallery Image 5">
                </div>
            </div>

            <div class="gallery-message-button">
                {% if user.is_authenticated %}
                    <a href="{% url 'STORE:message_general' %}" class="gallery-message-btn">
                        <i class="fas fa-comment-alt"></i> MESSAGE ME ABOUT MY SETUP
                    </a>
                {% else %}
                    <a href="{% url 'ACCOUNTS:login' %}?next={% url 'STORE:message_general' %}" class="gallery-message-btn">
                        <i class="fas fa-comment-alt"></i> MESSAGE ME ABOUT THIS SETUP
                    </a>
                {% endif %}
            </div>
        </div>
        
        <!-- Right side: Product info -->
        <div class="product-card">
            <h1 class="product-title">MY CUSTOM SETUP
                <div class="product-status {% if product.is_inactive %}active{% else %}active{% endif %}">
                    {% if product.is_inactive %}ACTIVE{% else %}ACTIVE{% endif %}
                </div>
            </h1>
            <hr class="page-divider"></hr>
            
            <div class="product-features-container">
                <div class="product-features" style="margin-right: 250px;">
                  <h2>FEATURES:</h2>
                  <ul class="features-list">
                    <li>
                      <i class="fas fa-check-circle"></i>
                      Precise Performance Enhancements
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>
                      Professional Overlays and Graphics
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>
                      Multiple Scenes with High Functionality
                    </li>
                    <li>
                      <i class="fas fa-check-circle"></i>
                      Chatbots / Interactivity / Fluid Transitions
                    </li>
                  </ul>
                </div>
                
                <div class="delivery-badge">
                    <i class="fa-solid fa-star"></i>
                    <span style="font-size: 1rem;">BEST OF THE BEST</span>
                </div>
            </div>

            <div class="product-purchase" style="display: inline-block; text-align: center;">
                <a href="{% url 'STORE:premium_package' %}" class="purchase-btn">WANT A SETUP LIKE THIS?</a>
            </div>
        </div>
    </div>
    
    <!-- Description section moved below gallery and product info -->
    <div class="product-description-section">
        <div class="product-card">
            <div class="product-description">
                <h2 class="heading-with-line">DESCRIPTION</h2>
                
                <p>
                    Lets bring your streaming/recording dreams to life! Message me your thoughts so we can start piecing together your setup!
                    I am a full-time Information Technology student and also a part-time streamer with over 1000+ hours streamed. 
                    I have years of experience on both sides of the playing field. Whether it's configuring the back-end of your setup or helping you attract more views to build your online career!
                    <br>
                    <br>
                    Are you feeling overwhelmed with trying to setup your stream yourself? After consulting with me you will feel confident and have the help you need!
                    <br>
                    <br>
                    Here is a list of the things I can setup and more:
                    <br>
                    <li class="description-text">OBS Stream Setup (Captures, Video Capture Devices, etc...)</li>
                    <li class="description-text">Output Settings (Encoding Settings, Tuning, Knowledge of the different Encoders)</li>
                    <li class="description-text">Best settings for your Computer Specs</li>
                    <li class="description-text">OBS troubleshooting (Video, Audio, etc...) -- Having low FPS issues? Let me fix that!</li>
                    <li class="description-text">Overlay integration (Adding graphics and making them look great!)</li>
                    <li class="description-text">Fluid and CUSTOM source transitions</li>
                    <li class="description-text">Multi-streaming</li>
                    <li class="description-text">Alert Boxes, Widgets, Panels, Sponsor Banners</li>
                    <li class="description-text">Connecting multiple services (Twitch/YouTube/TikTok/etc..) to your OBS!</li>
                    <li class="description-text">Windows/Mac</li>
                    <li class="description-text">Coaching to develop your success!</li>

                    <p class="description-text">Please read the FAQ and MESSAGE me!</p>
                </p>

                <h2 class="heading-with-line">MY CUSTOM SETUP SPECIFICS</h2>
                <p>
                    This is my ultimate setup after being a streamer for many years. It's completely customized specfically for my specifications and needs! From chatbots to fluid animated overlays, it's the ultimate experience for viewers!
                    <br>
                    <li class="description-text"><b>Professional Setup</b> -- My OBS is configured for picture-perfectrecording or streaming while ensuring essential settings are refined for a crystal clear picture.</li>
                    <br>
                    <li class="description-text"><b>Fluid Overlays and Transitions</b> -- Custom made (by Sebe) overlays and transitions designed to evoke my style and allow me to design creative scenes!</li>
                    <br>
                    <li class="description-text"><b>Chatbots and Alerts</b> -- Custom animated alerts and a chatbot customized to promote my socials (YouTube, Discord, Bomby, etc...) + commands for viewers to use and redeem items on stream!</li>
                </p>


                <h2 class="heading-with-line">FAQ</h2>
                <div class="faq-container">
                    <div class="faq-item">
                        <div class="faq-question">
                            <div class="chevron-container">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <span>Why OBS and not SLOBS or SE.LIVE?</span>
                        </div>
                        <div class="faq-answer">
                            The reason I choose OBS is because it utilizes less performance compared to the rest. Which means more quality for your setup! SLOBS/SE.LIVE require more CPU usage and can actually HARM the value of your stream or recording setup. I will however use SLOBS widgets and overlays by integrating to OBS!
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <div class="chevron-container">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <span>What do you mean use OBS with SLOBS integration?</span>
                        </div>
                        <div class="faq-answer">
                            Put simply, I will use SLOBS's many tools to boost OBS's overall quality for a better management and user experience. Things like chatbots, commands, timers, and everything else SLOBS's tools offer! This involves setting them up through menus on SLOBS without explicitly using their program.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <div class="chevron-container">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <span>How did I create the graphics?</span>
                        </div>
                        <div class="faq-answer">
                            I love to take inspiration from other things and twitst them into my own unqiue style. Mainly through using ASCII themes, I just can't get enough of that art style!
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <div class="chevron-container">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <span>What is my experience?</span>
                        </div>
                        <div class="faq-answer">
                            I have surrounded my life around my passion for computers and all their components; software, hardware, applications, and more! Through my own journey I have poured countless hours into configuring my own devices and trying my best to always learn more. As a life-longer learner there is no end!
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <div class="chevron-container">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <span>Why pick my services over others?</span>
                        </div>
                        <div class="faq-answer">
                            As a streamer myself I understand what it means to have a setup that is new, engaging, and beautiful to attract and retain audiences. With my combined experience of streaming and back-end OBS development I can guarantee great results that cover the entire playing field!
                        </div>
                    </div>
                </div>

                <h2 class="heading-with-line">REVIEWS</h2>
                <div class="reviews-section">
                    {% if product_reviews %}
                        <div class="reviews-list" id="reviewsList">
                            {% for review in product_reviews %}
                            <div class="review-item fade-in">
                                <div class="review-header">
                                    <div class="review-user">
                                        <div class="user-avatar">
                                            {% if review.is_fiverr %}
                                                <div class="avatar-placeholder" style="background: linear-gradient(45deg, #1dbf73, #23e686);">F</div>
                                            {% elif review.order.user.is_staff %}
                                                <div class="private-review-avatar"></div>
                                            {% elif review.order.user.profile_picture and review.order.user.profile_picture.url %}
                                                <img src="{{ review.order.user.profile_picture.url }}" alt="{{ review.order.user.username }}">
                                            {% else %}
                                                <div class="avatar-placeholder">{{ review.order.user.username|first }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="review-user-info">
                                            <div class="username-and-price">
                                                <strong class="username">
                                                    {% if review.is_fiverr %}
                                                        {{ review.fiverr_username }} <span style="font-size: 0.8em; color: #1dbf73;">(Fiverr)</span>
                                                    {% elif review.order.user.is_staff %}
                                                        Private Review
                                                    {% else %}
                                                        {{ review.order.user.username }}
                                                    {% endif %}
                                                </strong>
                                                <span class="order-price">${{ review.order.product.price }}</span>
                                            </div>
                                            <div class="review-rating">
                                                {% for i in "12345" %}
                                                <span class="fa fa-star {% if i|add:'0' <= review.rating %}star-active{% endif %}"></span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-date">{{ review.created_at|date:"F j, Y" }}</div>
                                </div>
                                <div class="review-content">
                                    <p class="review-comment">{{ review.comment }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        {% if product_reviews.count > 3 %}
                        <div class="review-pagination">
                            <button id="prevReviews" class="pagination-btn" disabled>
                                <i class="fas fa-chevron-left"></i> Previous
                            </button>
                            <div class="pagination-info">
                                <span id="currentPage" style="margin-right: 5px;">1</span> of <span id="totalPages" style="margin-left: 5px;">1</span>
                            </div>
                            <button id="nextReviews" class="pagination-btn">
                                Next <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="no-reviews" style="padding: 1.5rem; margin-bottom: 1.5rem;">
                            <p>No reviews yet for this package. Be the first to leave a review after your purchase!</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Global variables
        window.videoCache = {};
        const signedUrlPath = '/get-video-url/stream_assets/media/Bomby_Stream_Setup.mp4';
        
        // Fetch the signed URL for the video
        fetch(signedUrlPath)
            .then(response => {
                if (!response.ok) throw new Error(`HTTP error: ${response.status}`);
                return response.json();
            })
            .then(data => {
                console.log("Got signed URL");
                window.signedVideoUrl = data.url;
                
                // Update video source
                const videoEl = document.getElementById('featuredVideo');
                if (videoEl) {
                    // Create source element if it doesn't exist
                    let sourceEl = videoEl.querySelector('source');
                    if (!sourceEl) {
                        sourceEl = document.createElement('source');
                        sourceEl.type = 'video/mp4';
                        videoEl.appendChild(sourceEl);
                    }
                    
                    // Set the source to the signed URL
                    sourceEl.src = data.url;
                    videoEl.load();
                }
            })
            .catch(error => console.error('Error fetching video URL:', error));
        
        // Setup thumbnails and gallery
        function setupGallery() {
            const thumbnails = document.querySelectorAll('.thumbnail');
            const featuredContainer = document.getElementById('featured-container');
            
            thumbnails.forEach(thumb => {
                thumb.addEventListener('click', function() {
                    // Update active state
                    thumbnails.forEach(t => t.classList.remove('active'));
                    this.classList.add('active');
                    
                    if (this.classList.contains('video-thumb')) {
                        // Create video container with play button
                        const videoContainer = document.createElement('div');
                        videoContainer.className = 'video-container';
                        videoContainer.id = 'videoContainer';
                        videoContainer.dataset.src = window.signedVideoUrl || '';
                        
                        // Create thumbnail image
                        const thumbnail = document.createElement('img');
                        thumbnail.className = 'video-thumbnail';
                        thumbnail.src = "{% static 'images/stream_setup_1.jpg' %}";
                        thumbnail.alt = 'Video thumbnail';
                        
                        // Create play overlay
                        const playOverlay = document.createElement('div');
                        playOverlay.className = 'play-overlay';
                        playOverlay.innerHTML = '<div class="play-button"><i class="fas fa-play"></i></div>';
                        
                        // Assemble container
                        videoContainer.appendChild(thumbnail);
                        videoContainer.appendChild(playOverlay);
                        featuredContainer.innerHTML = '';
                        featuredContainer.appendChild(videoContainer);
                        
                        // Setup click handler for playing video
                        videoContainer.addEventListener('click', function() {
                            if (!window.signedVideoUrl) return;
                            
                            const videoEl = document.createElement('video');
                            videoEl.controls = true;
                            videoEl.autoplay = true;
                            videoEl.className = 'featured-image';
                            videoEl.src = window.signedVideoUrl;
                            
                            featuredContainer.innerHTML = '';
                            featuredContainer.appendChild(videoEl);
                        });
                    } else {
                        // Show image
                        const imgEl = document.createElement('img');
                        imgEl.src = this.dataset.image;
                        imgEl.alt = 'Featured image';
                        imgEl.className = 'featured-image';
                        imgEl.id = 'featuredImage';
                        
                        featuredContainer.innerHTML = '';
                        featuredContainer.appendChild(imgEl);
                    }
                });
            });
        }
        
        // Add CSS styles
        function addStyles() {
            const style = document.createElement('style');
            style.textContent = `
                .video-container { position: relative; width: 100%; height: 100%; background: linear-gradient(45deg, #333, #222); cursor: pointer; }
                .video-thumbnail { width: 100%; height: 100%; object-fit: cover; opacity: 1; transition: opacity 0.3s; }
                .play-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.3); transition: background-color 0.3s; }
                .play-button { width: 60px; height: 60px; border-radius: 50%; background-color: rgba(255,255,255,0.8); display: flex; align-items: center; justify-content: center; }
                .play-button i { font-size: 24px; color: #333; margin-left: 5px; }
                .video-container:hover .play-overlay { background-color: rgba(0,0,0,0.2); }
                .thumbnail.video-thumb { position: relative; background: linear-gradient(45deg, #333, #222); }
                .thumbnail.video-thumb .play-icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgba(255,255,255,0.8); font-size: 1.5rem; z-index: 2; }
            `;
            document.head.appendChild(style);
        }
        
        // FAQ functionality
        function setupFAQ() {
            document.querySelectorAll('.faq-item').forEach(item => {
                const question = item.querySelector('.faq-question');
                question.addEventListener('click', function() {
                    item.classList.toggle('active');
                    const chevron = this.querySelector('.chevron-container');
                    chevron.innerHTML = item.classList.contains('active') ? 
                        '<i class="fas fa-chevron-down"></i>' : 
                        '<i class="fas fa-chevron-right"></i>';
                });
            });
        }
        
        // Review pagination
        function setupReviews() {
            const reviewItems = document.querySelectorAll('.review-item');
            if (reviewItems.length === 0) return;
            
            const reviewsList = document.getElementById('reviewsList');
            const reviews = Array.from(reviewItems);
            const reviewsPerPage = 5;
            
            // Shuffle reviews
            for (let i = reviews.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [reviews[i], reviews[j]] = [reviews[j], reviews[i]];
            }
            
            // Remove and reappend
            reviews.forEach(review => review.remove());
            reviews.forEach(review => {
                review.style.display = 'none';
                review.classList.remove('fade-in');
                reviewsList.appendChild(review);
            });
            
            // Calculate pages
            const totalPages = Math.ceil(reviews.length / reviewsPerPage);
            document.getElementById('totalPages').textContent = totalPages;
            
            // Show first page
            reviews.slice(0, reviewsPerPage).forEach((item, index) => {
                item.style.display = 'block';
                setTimeout(() => item.classList.add('fade-in'), index * 100);
            });
            
            // Pagination controls
            const prevBtn = document.getElementById('prevReviews');
            const nextBtn = document.getElementById('nextReviews');
            const pageEl = document.getElementById('currentPage');
            let currentPage = 1;
            
            if (totalPages <= 1) nextBtn.disabled = true;
            
            nextBtn.addEventListener('click', function() {
                if (currentPage >= totalPages) return;
                
                // Hide current page
                const startIdx = (currentPage - 1) * reviewsPerPage;
                const endIdx = startIdx + reviewsPerPage;
                reviews.slice(startIdx, endIdx).forEach(item => {
                    item.classList.remove('fade-in');
                    setTimeout(() => item.style.display = 'none', 300);
                });
                
                // Update page
                currentPage++;
                pageEl.textContent = currentPage;
                prevBtn.disabled = false;
                if (currentPage >= totalPages) nextBtn.disabled = true;
                
                // Show new page
                setTimeout(() => {
                    const newStartIdx = (currentPage - 1) * reviewsPerPage;
                    const newEndIdx = newStartIdx + reviewsPerPage;
                    reviews.slice(newStartIdx, newEndIdx).forEach((item, i) => {
                        item.style.display = 'block';
                        setTimeout(() => item.classList.add('fade-in'), i * 50);
                    });
                }, 300);
            });
            
            prevBtn.addEventListener('click', function() {
                if (currentPage <= 1) return;
                
                // Hide current page
                const startIdx = (currentPage - 1) * reviewsPerPage;
                const endIdx = startIdx + reviewsPerPage;
                reviews.slice(startIdx, endIdx).forEach(item => {
                    item.classList.remove('fade-in');
                    setTimeout(() => item.style.display = 'none', 300);
                });
                
                // Update page
                currentPage--;
                pageEl.textContent = currentPage;
                nextBtn.disabled = false;
                if (currentPage <= 1) prevBtn.disabled = true;
                
                // Show new page
                setTimeout(() => {
                    const newStartIdx = (currentPage - 1) * reviewsPerPage;
                    const newEndIdx = newStartIdx + reviewsPerPage;
                    reviews.slice(newStartIdx, newEndIdx).forEach((item, i) => {
                        item.style.display = 'block';
                        setTimeout(() => item.classList.add('fade-in'), i * 50);
                    });
                }, 300);
            });
        }
        
        // Format dates to local timezone
        function formatDates() {
            document.querySelectorAll('.review-date').forEach(el => {
                const date = new Date(el.textContent.trim());
                if (!isNaN(date.getTime())) {
                    el.textContent = new Intl.DateTimeFormat('en-US', {
                        year: 'numeric', month: 'long', day: 'numeric'
                    }).format(date);
                }
            });
        }
        
        // Initialize
        addStyles();
        setupGallery();
        setupFAQ();
        setupReviews();
        formatDates();
        
        // Trigger video thumbnail click
        setTimeout(() => {
            const videoThumb = document.querySelector('.thumbnail.video-thumb');
            if (videoThumb) videoThumb.click();
        }, 100);
    });
</script>
{% endblock %}