{% extends 'MAIN/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}

{% block background %}
    {% include 'MAIN/base_background_starry.html' %}
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <h1 class="auth-title">Change Username</h1>
        <p class="auth-subtitle">Editing {{ user_being_edited.username }}</p>
    </div>
    
    <form method="post" class="auth-form">
        {% csrf_token %}
        
        <label for="{{ form.username.id_for_label }}">New Username</label>
        {{ form.username }}
        {% if form.username.errors %}
        <div class="error message" style="margin-top: -15px; margin-bottom: 15px; color: #ff5555; text-align: left;">
            {{ form.username.errors }}
        </div>
        {% endif %}
        <div class="help-text">{{ form.username.help_text }}</div>
        
        <button type="submit" class="auth-button">Save Changes</button>
    </form>
    
    <div class="auth-form" style="margin-top: 20px;">
        <a class="auth-button" href="{% url 'ACCOUNTS:user_management' %}">Back to User Management</a>
    </div>
</div>
{% endblock %}