{% extends 'MAIN/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}

{% block background %}
    {% include 'MAIN/base_background_starry.html' %}
{% endblock %}

{% block content %}

<div class="auth-container">
    <div class="auth-icon">
        <i class="fas fa-envelope"></i>
    </div>
    
    <div class="auth-header">
        <h1 class="auth-title">Email Sent</h1>
    </div>
    
    <div class="auth-message">
        <p>Bomby's gone ahead and emailed you instructions for resetting your password. 
           If an account exists with the email you entered, you should receive an email shortly.</p><br></br>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, 
           and check your spam folder.</p>
    </div>
    
    <div class="button-container" style="margin-top: 80px;">
        <a href="{% url 'ACCOUNTS:account' %}" class="auth-button">Back to Account</a>
    </div>
</div>
{% endblock %}