<!-- base_background_ascii.html -->
<style>
    
    /* Contact Page Styling with Binary Background and Fixed Dimensions */
    .contactpage-section {
        padding: 20px 0 50px 0;
        background: #0a0a0a;
        position: relative;
        overflow-x: hidden;
        z-index: 2;
        min-height: 100vh;
    }

    .contactpage-section::before,
    .contactpage-section::after {
        content:"01001 >_ ./ {} </> *** >>> ### === ||| [][]  01001 >_ ./ {} </> *** >>> ### === ||| [][]  01001 >_ ./ {} </> *** >>> ### === ||| [][]\A"
                "10110 ### ^_^ {} </> *** <<< >_ === ||| [][]  10110 ### ^_^ {} </> *** <<< >_ === ||| [][]  10110 ### ^_^ {} </> *** <<< >_ === ||| [][]\A"
                "01100 >>> {_} [*] <=> &&& ### @@@ ||| +++  01100 >>> {_} [*] <=> &&& ### @@@ ||| +++  01100 >>> {_} [*] <=> &&& ### @@@ ||| +++\A"
                "10011 <<< ^_^ [#] *** === >_> %%% ||| +++  10011 <<< ^_^ [#] *** === >_> %%% ||| +++  10011 <<< ^_^ [#] *** === >_> %%% ||| +++\A"
                "11001 === <|> [&] @@@ >>> ### ___ ||| +++  11001 === <|> [&] @@@ >>> ### ___ ||| +++  11001 === <|> [&] @@@ >>> ### ___ ||| +++\A"
                "00110 >_> |=| [-] %%% <<< ### @@@ ||| +++  00110 >_> |=| [-] %%% <<< ### @@@ ||| +++  00110 >_> |=| [-] %%% <<< ### @@@ ||| +++\A"
                "10101 ___ {+} [/] === >_> ### %%% ||| +++  10101 ___ {+} [/] === >_> ### %%% ||| +++  10101 ___ {+} [/] === >_> ### %%% ||| +++\A"
                "01011 @@@ <=> [!] *** >>> ### === ||| +++  01011 @@@ <=> [!] *** >>> ### === ||| +++  01011 @@@ <=> [!] *** >>> ### === ||| +++\A"
                "10100 %%% ^_^ [$] </> <<< ### ___ ||| +++  10100 %%% ^_^ [$] </> <<< ### ___ ||| +++  10100 %%% ^_^ [$] </> <<< ### ___ ||| +++\A"
                "01010 === |>| [%] @@@ >_> ### %%% ||| +++  01010 === |>| [%] @@@ >_> ### %%% ||| +++  01010 === |>| [%] @@@ >_> ### %%% ||| +++\A"
                "11100 >>> {=} [@] *** === ### ___ ||| +++  11100 >>> {=} [@] *** === ### ___ ||| +++  11100 >>> {=} [@] *** === ### ___ ||| +++\A"
                "00011 <<< <|> [#] %%% >>> ### @@@ ||| +++  00011 <<< <|> [#] %%% >>> ### @@@ ||| +++  00011 <<< <|> [#] %%% >>> ### @@@ ||| +++\A"
                "10111 ___ |=| [$] === <<< ### %%% ||| +++  10111 ___ |=| [$] === <<< ### %%% ||| +++  10111 ___ |=| [$] === <<< ### %%% ||| +++\A"
                "01110 @@@ {+} [%] *** >_> ### === ||| +++  01110 @@@ {+} [%] *** >_> ### === ||| +++  01110 @@@ {+} [%] *** >_> ### === ||| +++\A"
                "10001 %%% <=> [&] </> === ### ___ ||| +++  10001 %%% <=> [&] </> === ### ___ ||| +++  10001 %%% <=> [&] </> === ### ___ ||| +++\A"
                "01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++\A"
                "11010 >>> |>| [!] *** <<< ### === ||| +++  11010 >>> |>| [!] *** <<< ### === ||| +++  11010 >>> |>| [!] *** <<< ### === ||| +++\A"
                "01100 >>> {_} [*] <=> &&& ### @@@ ||| +++  01100 >>> {_} [*] <=> &&& ### @@@ ||| +++  01100 >>> {_} [*] <=> &&& ### @@@ ||| +++\A"
                "10011 <<< ^_^ [#] *** === >_> %%% ||| +++  10011 <<< ^_^ [#] *** === >_> %%% ||| +++  10011 <<< ^_^ [#] *** === >_> %%% ||| +++\A"
                "11001 === <|> [&] @@@ >>> ### ___ ||| +++  11001 === <|> [&] @@@ >>> ### ___ ||| +++  11001 === <|> [&] @@@ >>> ### ___ ||| +++\A"
                "01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++\A"
                "11010 >>> |>| [!] *** <<< ### === ||| +++  11010 >>> |>| [!] *** <<< ### === ||| +++  11010 >>> |>| [!] *** <<< ### === ||| +++\A"
                "01100 >>> {_} [*] <=> &&& ### @@@ ||| +++  01100 >>> {_} [*] <=> &&& ### @@@ ||| +++  01100 >>> {_} [*] <=> &&& ### @@@ ||| +++\A"
                "10011 <<< ^_^ [#] *** === >_> %%% ||| +++  10011 <<< ^_^ [#] *** === >_> %%% ||| +++  10011 <<< ^_^ [#] *** === >_> %%% ||| +++\A"
                "11001 === <|> [&] @@@ >>> ### ___ ||| +++  11001 === <|> [&] @@@ >>> ### ___ ||| +++  11001 === <|> [&] @@@ >>> ### ___ ||| +++\A"
                "01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++\A"
                "01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++  01101 === ^_^ [*] @@@ >>> ### %%% ||| +++\A";
        
        position: fixed;
        width: 100%;
        left: 0;
        white-space: pre;
        font-family: monospace;
        font-size: 16px;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
        overflow: hidden;
        z-index: 1;
    }

    /* Animation for background text */
    .contactpage-section::before {
        top: 0;
        height: 100vh;
        animation: moveUp1 40s linear infinite;
    }

    .contactpage-section::after {
        top: 100vh;
        height: 100vh;
        animation: moveUp2 40s linear infinite;
    }

    @keyframes moveUp1 {
        0% { transform: translateY(0); }
        100% { transform: translateY(-100%); }
    }

    @keyframes moveUp2 {
        0% { transform: translateY(0); }
        100% { transform: translateY(-100%); }
    }
</style>
<div class="gradient-background"></div>