{% extends 'MAIN/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/product_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block background %}
    {% include 'MAIN/base_background_starry.html' %}
{% endblock %}

{% block content %}
<div class="profile-container" style="margin: 75px auto;">
    <div class="profile-header">
        <h1 class="user_management-title">COMING SOON</h1>
    </div>

    <div style="text-align: center; margin-bottom: 50px;">
        <h2>Sorry, this page is unavailable right now!</h2>
        <p>I'm working on something great, and I can't wait to show you. If you're looking for something custom send me a message.</p>
        <p style="margin-bottom: 50px;">Check back soon!</p>
        <a href="{% url 'MAIN:contact' %}" class="cta-button">GET IN TOUCH</a>
    </div>
</div>
{% endblock %}